apiVersion: v1
data:
  init.sh: |
    {{ __init_sh }}
  dashboard.ndjson: |
    {{ __dashboard_ndjson }}
kind: ConfigMap
metadata:
  name: elastic-init
  namespace: {{ log.namespace }}

---

apiVersion: batch/v1
kind: Job
metadata:
  name: elastic-init
  namespace: {{ log.namespace }}
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
      - image: {{ log.repository }}curlimages/curl:7.73.0
        name: curl
        command:
        - "/bin/sh"
        - "/tmp/init.sh"
        volumeMounts:
        - mountPath: /tmp/init.sh
          name: elastic-init
          subPath: init.sh
        - mountPath: /tmp/dashboard.ndjson
          name: elastic-init
          subPath: dashboard.ndjson
      volumes:
      - configMap:
          defaultMode: 0755
          name: elastic-init
        name: elastic-init
