#!/bin/bash
#config repo
export DEBIAN_FRONTEND=noninteractive
sed -i "s@http://.*archive.ubuntu.com@http://repo.huaweicloud.com@g" /etc/apt/sources.list
sed -i "s@http://.*security.ubuntu.com@http://repo.huaweicloud.com@g" /etc/apt/sources.list
apt update
apt-get -y install apt-transport-https ca-certificates curl gnupg2 software-properties-common sudo
curl -fsSL https://repo.huaweicloud.com/docker-ce/linux/ubuntu/gpg | sudo apt-key add -
add-apt-repository "deb [arch=amd64] https://repo.huaweicloud.com/docker-ce/linux/ubuntu $(lsb_release -cs) stable"
curl https://mirrors.aliyun.com/kubernetes/apt/doc/apt-key.gpg | apt-key add -
echo "deb https://mirrors.aliyun.com/kubernetes/apt/ kubernetes-xenial main" > /etc/apt/sources.list.d/kubernetes.list
apt update

#download paks
for i in {{ __packages }}
  do
    name=`echo $i | awk -F: '{print $1}'`
    version=`echo $i | awk -F: '{print $2}'`
    pak="$name=`apt list -a $name | awk '{print $2}' | grep $version`"
    mkdir /tmp/download || echo 0
    apt-get -y install $pak --download-only
  done

mv /var/cache/apt/archives/*.deb /tmp/download
