#!/bin/bash

# remove repo
mkdir /etc/yum.repos.bak || echo 0
mv /etc/yum.repos.d/* /etc/yum.repos.bak/

#config basic repo
cat <<EOF > /etc/yum.repos.d/basic.repo
[centos-base]
name=centos-base
baseurl=https://mirrors.huaweicloud.com/centos/\$releasever/os/\$basearch/
gpgcheck=0
enabled=1

[centos-extra]
name=centos-extra
baseurl=http://mirrors.huaweicloud.com/centos/\$releasever/extras/\$basearch/
gpgcheck=0
enabled=1
EOF

#config epel repo
cat <<EOF > /etc/yum.repos.d/epel.repo
[epel]
name=epel
baseurl=https://mirrors.huaweicloud.com/epel/\$releasever/\$basearch/
enabled=1
gpgcheck=0
EOF

#config newer-rpm repo
cat <<EOF > /etc/yum.repos.d/newer-rpm.repo
[newer-rpm]
name=newer-rpm
baseurl=https://repo.ius.io/\$releasever/\$basearch/
gpgcheck=0
enabled=1
EOF

#config docker-ce repo
cat <<EOF > /etc/yum.repos.d/docker-ce.repo
[docker-ce-stable]
name=Docker CE Stable - $basearch
baseurl=https://repo.huaweicloud.com/docker-ce/linux/centos/\$releasever/\$basearch/stable
enabled=1
gpgcheck=0
EOF

#config k8s repo
cat <<EOF > /etc/yum.repos.d/kubernetes.repo
[kubernetes]
name=Kubernetes
baseurl=https://mirrors.aliyun.com/kubernetes/yum/repos/kubernetes-el7-\$basearch/
enabled=1
gpgcheck=0
EOF

yum clean all
yum repolist

#download paks
mkdir /tmp/download || echo 0
cd /tmp/download

for i in {{ __packages }}
  do
    yum -y install --downloadonly --downloaddir=./ $i
  done
