#/bin/bash

host={{ ansible_host }}
port=14000
user=root
password={{ tidb.root_password }}
database={{ aiops.database }}
workdir={{ workdir }}

docker run --rm --entrypoint "" -it docker.repo.local:5000/mysql-client:latest /bin/sh -c "mysql -h$host -P$port -u$user -p$password -e \"create user 'kangpaas'@'%' identified by 'kangpaas';grant all on *.* to 'kangpaas'@'%';create database $database default CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;\""
if [ $? == 0 ];then
  docker run --rm --entrypoint "" -v $workdir/db_scripts:/tmp/db_scripts -it docker.repo.local:5000/mysql-client:latest /bin/sh -c "mysql -h$host -P$port -u$user -p$password $database < /tmp/db_scripts/aiops_ddl.sql && mysql -h$host -P$port -u$user -p$password $database < /tmp/db_scripts/aiops_dml.sql"
fi
