apiVersion: v1
kind: ConfigMap
metadata:
  name: etcd-backup-cm
data:
  backup.sh: |
    #!/bin/bash
    etcdctl --endpoints="127.0.0.1:2379"  --cacert=/etc/kubernetes/pki/etcd/ca.crt --cert=/etc/kubernetes/pki/etcd/peer.crt  --key=/etc/kubernetes/pki/etcd/peer.key snapshot save /tmp/backup/etcd-`date +%Y-%m-%d-%H`.snapshot
    find /tmp/backup -type f -mtime +7 -name 'etcd*.snapshot' -execdir rm -- '{}' \;
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: etcd-backup
spec:
  schedule: "{{ kubernetes.backup.schedule }}"
  jobTemplate:
    spec:
      activeDeadlineSeconds: 300
      template:
        spec:
          hostNetwork: true
          containers:
          - name: etcd
            image: {{ kubernetes.backup.image }}
            imagePullPolicy: IfNotPresent
            securityContext:
              runAsUser: 0
            command:
            - /bin/bash
            - -c
            - /backup.sh
            volumeMounts:
            - name: k8s
              mountPath: /etc/kubernetes
            - name: bak
              mountPath: /tmp/backup
            - name: config
              mountPath: /backup.sh
              subPath: backup.sh
            env:
            - name: TZ
              value: Asia/Shanghai
            - name: ETCDCTL_API
              value: "3"
          restartPolicy: Never
          tolerations:
          - operator: "Exists"
          nodeSelector:
            node-role.kubernetes.io/master: ""
          volumes:
          - name: k8s
            hostPath:
              path: /etc/kubernetes
          - name: bak
            hostPath:
              path: {{ kubernetes.backup.dir }}/etcd-backup
              type: DirectoryOrCreate
          - name: config
            configMap:
              name: etcd-backup-cm
              defaultMode: 0755
