{{ ansible_managed | comment }}

[Unit]
Description=elastic filebeat {{ log.elastic.version }}
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{ log.elastic.filebeat.install_path.rstrip("/") }}/filebeat \
    -e -c /etc/filebeat/filebeat.yml \
    -E http.enabled=true -E http.host=0.0.0.0 -E http.port={{ log.elastic.filebeat.http_port }} \
    --path.data /var/lib/filebeat

SyslogIdentifier=filebeat
Restart=always
RestartSec=1
StartLimitInterval=0

{% for m in ansible_mounts if m.mount == '/home' %}
ProtectHome=read-only
{% else %}
ProtectHome=yes
{% endfor %}
NoNewPrivileges=yes

{% if filebeat_systemd_version | int >= 232 %}
#ProtectSystem=strict
#ProtectControlGroups=true
#ProtectKernelModules=true
#ProtectKernelTunables=yes
{% else %}
#ProtectSystem=full
{% endif %}

[Install]
WantedBy=multi-user.target
