filebeat.inputs:
{% for li in log.elastic.filebeat.log -%}
- type: log
  paths: {{ li.paths }}
  fields:
    labels:
      app_name: "{{ li.app_name }}"
      addition: "host"
      source: "host"
      timezone: "{{ li.timezone }}"
      host: "{{ inventory_hostname }}"
      host_ip: "{{ ansible_host }}"
  fields_under_root: true

{% endfor -%}

#给容器日志添加相应标签
processors:
- add_labels:
    labels:
      app_env: {{ log.elastic.filebeat.env }}
- add_labels:
    labels:
      timezone: UTC
    when:
      not:
        has_fields: ['labels.timezone']
- add_labels:
    labels:
      source: container
    when:
      not:
        has_fields: ['labels.source']

- copy_fields:
    fields:
    - from: kubernetes.container.name
      to: labels.app_name
    - from: kubernetes.namespace
      to: labels.addition
    - from: kubernetes.pod.name
      to: labels.pod
    - from: kubernetes.node.name
      to: labels.host
    fail_on_error: false
    ignore_missing: true
    when:
      and:
      - has_fields: ['kubernetes']
      - not:
          equals:
            labels.source: "host"

#输出到kafka
output.kafka:
  hosts: {{ log.elastic.filebeat.kafka }}
  topic: 'all-logs_topic'
  partition.round_robin:
    reachable_only: true    #当有partition不可达，数据会发送到可到达的partition
