{% for host in groups['prometheus']%}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-{{ host }}
spec:
  capacity:
    storage: 100Gi
  accessModes:
  - ReadWriteOnce
  storageClassName: {{ storage_class.prometheus }}
  local:
    path: /mnt/prometheus
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ host }}

---
{% endfor %}
