{% for host in groups['tidb']%}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pd-{{ host }}
spec:
  capacity:
    storage: 1Gi
  accessModes:
  - ReadWriteOnce
  storageClassName: {{ storage_class.tidb.pd }}
  local:
    path: /mnt/tidb/pd
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ host }}

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: tikv-{{ host }}
spec:
  capacity:
    storage: 10Gi
  accessModes:
  - ReadWriteOnce
  storageClassName: {{ storage_class.tidb.tikv }}
  local:
    path: /mnt/tidb/tikv
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ host }}
---
{% endfor %}
