apiVersion: v1
data:
  settings.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

      <!-- 设置私库的账号密码 -->

      <servers>
        {%- for server in devops.jenkins.agent.maven.servers %}

        <server>
          <id>{{ server.id }}</id>
          <username>{{ server.username }}</username>
          <password>{{ server.password }}</password>
        </server>
        {%- endfor %}

      </servers>

      <!-- 设置中央仓库的地址 -->
      <mirrors>
        <mirror>
           <id>central</id>
           <mirrorOf>central</mirrorOf>
           <name>central</name>
           <url>{{ devops.jenkins.agent.maven.mirrors.central }}</url>
        </mirror>
      </mirrors>
    </settings>

kind: ConfigMap
metadata:
  name: maven-config
