#!/bin/bash

#please set variables depending on your environment
#local registry address
my_registry="{{ target_registry }}"

#匹配的镜像，会用${registry_prefix} 替换 其地址
#没有匹配这里的镜像，都会在镜像前面加上${registry_prefix}
#use | to match multiple registries
prefix_replace_pattern="{{ prefix_replace_pattern }}"

#匹配的镜像，会用${my_registry} 替换 其地址
#没有匹配这里的镜像，都会在镜像前面加上${registry_prefix}
#use | to match multiple registries
address_replace_pattern="{{ address_replace_pattern }}"

registry_prefix="${my_registry}/library"


if [ "$prefix_replace_pattern" != "" ]
  then
    if [ "$address_replace_pattern" != "" ]
      then
        images=$(docker images | grep -vE ^$my_registry | grep -vE $prefix_replace_pattern | grep -vE $address_replace_pattern | awk 'NR!=1{print $1":"$2}')
      else
        images=$(docker images | grep -vE ^$my_registry | grep -vE $prefix_replace_pattern | awk 'NR!=1{print $1":"$2}')
    fi
  else
    if [ "$address_replace_pattern" != "" ]
      then
        images=$(docker images | grep -vE ^$my_registry | grep -vE $address_replace_pattern | awk 'NR!=1{print $1":"$2}')
      else
        images=$(docker images | grep -vE ^$my_registry | awk 'NR!=1{print $1":"$2}')
    fi
fi

for image in ${images}; do

  docker image tag ${image} ${registry_prefix}/${image}
  docker push ${registry_prefix}/${image}

done

if [ -n "$prefix_replace_pattern" ];then
  tagged_images=$(docker images | grep -E $prefix_replace_pattern | awk '{print $1":"$2}')
  ## retag images and then push to my-registry
  for image in ${tagged_images}; do
    localImage=`echo ${image} | sed 's/^[^/]*//g'`
    docker image tag ${image} ${registry_prefix}${localImage}
    docker push ${registry_prefix}${localImage}
  done
fi

if [ -n "$address_replace_pattern" ];then
  tagged_images=$(docker images | grep -E $address_replace_pattern | awk '{print $1":"$2}')
  ## retag images and then push to my-registry
  for image in ${tagged_images}; do
    localImage=`echo ${image} | sed 's/^[^/]*//g'`
    docker image tag ${image} ${my_registry}${localImage}
    docker push ${my_registry}${localImage}
  done
fi
