{
  {% if restart_docker is defined and restart_docker == "before" -%}
  "live-restore": true,
  {% endif -%}
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "5"
  },
  "insecure-registries": {{ docker["insecure-registries"] | select() | list | to_json }},
  "registry-mirrors": {{ docker["registry-mirrors"] | to_json }}
}
