apiVersion: telemetry.istio.io/v1alpha1
kind: Telemetry
metadata:
  name: mesh-default
spec:
  #不指定provider，使用默认的

  #可以指定将配置应用到指定的workload
  selector: {}

  #访问日志配置
  accessLogging: {{ service_mesh.istio.telemetry.accessLogging }}

  #tracing配置
  tracing: {{ service_mesh.istio.telemetry.tracing }}

  #metrics配置
  # 生成新的metrics，对旧的metrics没有任何影响
  # disabled选项也是对新的metrics
  # metrics:
  # - providers:
  #   - name: prometheus
  #   overrides:
  #   - match:
  #       metric: ALL_METRICS
  #       mode: CLIENT_AND_SERVER
  #     disabled: true
  #     tagOverrides:
  #       response_code:
  #         operation: REMOVE
  metrics: {{ service_mesh.istio.telemetry.metrics }}
